<body bgcolor="#b2bec3">
<div class="logo">
<h1 align = "center"></h1>
</div>

<h1 align = "center">Welcome to Rooms got Rooms</h1>

<% if logged_in? %>
    <div class="profile">
    <h1>You're logged in, <%= link_to current_user.username, user_path(current_user.id) %>!</h1>
    </div>
    <div class="buttons">
    <%= button_to "Featured Post", '/posts', method: :get%>
    <%= button_to "Create Post", '/posts/new', method: :get%>
    <%= button_to "Log out", '/logout', method: :delete %>
    <%= button_to "Analytics", '/authorized', method: :get %>

    </div>
<% else %>
    <div class="buttons">
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Sign Up", '/users/new', method: :get%>
    </div>
<% end %>
