<h1>Home Page</h1>
    <ul>
        <%= @posts.each do |post|%>
            <% @post_owner = User.find_by(id: post.user_id) %>
            <h3><%= link_to post.title, post_path(post) %> by <%= link_to @post_owner.username, user_path(@post_owner.id) %></h3>
            <image src="<%=(url_for(post.picture))%>">
            <p><%= post.description %></p>
        <%end%>
    </ul>