<h1>Featured Post</h1>
<%= link_to "new", users_path %><a align ="right" href="/users/new">signup</a>
<h3 align ="right">Login</h3>

<%= link_to "new", users_path(@user) %>
<a href="/users/new">signup</a>
<ul>
<%= @posts.each do |post|%>
    <%= post.title%>
    <%= post.picture%>
    <%= post.description%>
<%end%>
</ul>