<h1>Make a NEW post</h1>
<h2><%= current_user.username %></h2>
<ul>
<%= form_for(@post) do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>

    <%= f.label :pictures %><br>
    <%= f.file_field :pictures, multiple: true %><br>

    <%= f.label :description %><br>
    <%= f.text_field :description %><br>
    
    <%= f.submit %>
<% end %>
</ul>