<body bgcolor="#b2bec3">
<div class="logo">
<h1 align = "center"></h1>
</div>

<h1 align = "center">Make a new post</h1>
<div class="profile">
<h1><%= link_to current_user.username, user_path(current_user.id) %></h1>
</div>
<ul>
<%= form_for(@post) do |f| %>
    <div class="buttons">
    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :picture %>
    <%= f.file_field :picture %><br>

    <%= f.label :description %>
    <%= f.text_field :description %><br>
    
    <%= f.submit %>
    </div>
<% end %>
</ul>
